*{
	box-sizing: border-box;
	font-family: 'Amaranth', sans-serif;
	padding: 0px;
	margin: 0px;
}

ul{
 	width: 350px;
 	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

ul li{
	list-style-type: none;
}

img{
	width: 120px;
	height: 168px;
	margin-bottom: 50px;
}

h1{
	text-align: center;
	padding: 50px 0px;
}

.posters{
	justify-content: center;
	width: 20%;
}

.container{
	justify-content: center;
}

section{
	display : flex;
	flex-direction: row;
	align-items : center;
}

div{
	background-color: rgba(247, 249, 252, .8);
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 20px;

}

.infoCards{
	width: 40%;
	flex-direction: column;
	margin: 20px;
}

#laputaDiv, #ponyoDiv, #howlDiv, #kikiDiv, #laputaDiv, #totoroDiv, #spiritedDiv{
 	display: none;
} 

@media only screen and (max-width: 1300px) {
	.posters ul{
		flex-direction: column;
		width: auto;
	}
}

